*, *::before, *::after {
  box-sizing: inherit;
}

@media only screen and (max-width: 1280px){

}
body {
  background-image: url("../images/repeatbkg.svg");
  margin: 0;
}

header {
  background-color: #DB404B;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

header img {
    max-width: 20%;
    max-height: 20%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav ul li a {
  font-family: alfarn, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  margin: auto;
  text-decoration: none;
  background-color: #FF809B;
  border: 3px solid #FF809B;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #FFFF;
  border: 3px solid #FFFF;
  color: #FF809B;
}

/* Hero Banner Begins Here */

.hero-banner {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/backgroundpaper.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 2.5em;
}

.hero-text h1 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
}

/* Home Page Begins Here */

.founder {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
  padding-left: 15em;
  padding-right: 15em;
}

.founder h2 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  color: #FF809B;
  margin: auto;
}

.founder p {
  font-family: stymie,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
}

.showcase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5em;
  padding-top: 10em;
  padding-bottom: 5em;
}

.showcase img {
  height: 20em;
  box-shadow: 10px 10px 2px #FFD7DF;
}

.showcase div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2em;
  padding: 0.5rem;
}

.showcase a {
  text-decoration: none;
  color: #DB404B;
  transition: all .2s ease-in-out;
  padding: 5px;
  padding-left: 3rem;
  padding-right: 3rem;
  border: 3px solid #00;
}

.showcase a:hover {
  background-color: #FF809B;
  color: #FFFF;
  border: 3px solid #FF809B;
  border-radius: 5px;
}

/* Projects Page Starts Here */

.hero-banner-proj {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/boardroom.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 2.5em;
}

.hero-text h1 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  margin: auto;
}

.hero-text p {
  font-family: stymie,serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}

.cards ul {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 5em 3em;
  padding-top: 10em;
  padding-bottom: 10em;
  padding-left: 15em;
  padding-right: 15em;

}

.cards li {
  list-style-type: none;
  background-color: #FF809B;
  align-items: center;
  padding: 2em;
  padding-bottom: 1em;
  box-shadow: 10px 10px 2px #FFD7DF;
}

.cards ul li img {
  border: 5px solid #FFFF;
}

.cards ul li h3 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  color: #FFFF;
  margin: auto;
  padding-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.cards ul li p {
  font-family: stymie,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin: auto;
}

/* Merch Page Starts Here */

.hero-banner-merch {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/store/wardrobe.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-text-merch {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  color: white;
  font-size: 2.5em;
}

.hero-text-merch h1 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
}

.hero-text-merch p {
  font-family: stymie,serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
}


h5 {
  font-family: alfarn, sans-serif;
  font-weight: 100;
  font-style: normal;
  color: #DB404B;
  font-size: 7em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  padding-top: 10rem;
}

.purchaseables ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  gap: 7em 3em;
  padding: 10em;
  padding-left: 15rem;
  padding-right: 15rem;
}

.purchaseables img {
  max-width: 15rem;
  max-height: 15rem;
  box-shadow: 10px 10px 2px #FFD7DF;
}

.purchaseables ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store ul li {
  list-style-type: none;
  margin: auto;
}

h4 {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  color: #DB404B;
  font-size: 2em;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.store ul li a {
  font-family: stymie,serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  color: #FFFF;
  padding-left: 2em;
  padding-right: 2em;
  border: 3px solid #FF809B;
  background: #FF809B;
  border-radius: 1em;
  transition: all .2s ease-in-out;
}

.store ul li a:hover {
  background-color: #FFFF;
  border: 3px solid #FF809B;
  color: #FF809B;
}

/* Footer Begins Here */

footer {
  background-color: #DB404B;
  padding-right: 5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

footer .footerlogo {
  max-width: 5%;
  max-height: 5%;
  padding: 2em;
  padding-bottom: 3em;
}

footer li {
  list-style: none;
}

footer ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}

footer ul img {
  max-height: 3em;
}

footer ul li {
  text-decoration: none;
  transition: all .2s ease-in-out;
  padding: 1em;
  border: 5px solid #DB404B;
  border-radius: 1em;
}

footer ul li:hover {
  border: 5px solid #FF809B;
  background-color: #FF809B;
  padding: 1em;
}

.logowords {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logowords p {
  color: #FFFF;
  font-family: stymie,serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (max-width: 760px) {

/* TABLET header begins here */

header {
  padding-right: 1rem;
  padding-left: 1rem;
}

nav ul {
  gap: 1em;
}

nav ul li a {
  font-size: 1em;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* TABLET Hero Banner Begins Here */

.hero-banner {
  height: 25vh;
}

.hero-banner-merch {
  height: 25vh;
}

.hero-banner-proj {
  height: 25vh;
}

.hero-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 1.25em;
}

.hero-text-merch {
  font-size: 1.25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250%);
}

/* Founder page for TABLET begins here */

  .founder {
    padding-top: 5em;
    padding-left: 5em;
    padding-right: 5em;
  }

  .founder h2 {
    font-size: 1.5em;
  }

  .founder p {
    font-size: 0.8em;
  }


  .showcase {
    padding: 2.5em;
    padding-top: 5em;
    padding-bottom: 2.5em;
  }

  .showcase img {
    height: 10em;
    box-shadow: 5px 5px 1px #FFD7DF;
  }

  h3 {
    font-size: 1em;
    padding: 0.25rem;
  }

  .showcase a {
    padding: 2.5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 3px solid #FF809B;
    border-radius: 5px;
  }

  .showcase a:hover {
    border: 3px solid #FF809B;
    border-radius: 5px;
  }

/* TABLET Projects begins here */

h5 {
  font-size: 3.5em;
  padding-top: 5rem;
}

.cards ul {
  gap: 2.5em 1.5em;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 7.5em;
  padding-right: 7.5em;
}

.cards li {
  padding: 1.5em;
  padding-bottom: 0.5em;
  box-shadow: 5px 5px 1px #FFD7DF;
}

.cards ul li img {
  border: 2.5px solid #FFFF;
}

.cards ul li h3 {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.cards ul li p {
  font-size: 1.1rem;
}

/* TABLET Merch behins here */

h5 {
  font-size: 5em;
  padding-top: 5rem;
}

.purchaseables ul {
  gap: 3.5em 1.5em;
  padding: 5em;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

.purchaseables img {
  max-width: 15rem;
  max-height: 15rem;
  box-shadow: 5px 5px 1px #FFD7DF;
}

h4 {
  font-size: 1.5em;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem;
}

.store ul li a {
  font-size: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.store ul li a:active {
  background-color: #FFFF;
  border: 3px solid #FF809B;
  color: #FF809B;
}

  /* TABLET footer begins here */

  footer {
    padding-right: 2.5rem;
    padding-left: 1rem;
    font-size: 0.8rem;
  }

  footer .footerlogo {
    max-width: 10%;
    max-height: 10%;
    padding: 1em;
    padding-bottom: 1.5em;
  }

  footer ul{
    gap: 0.5em;
  }

  footer ul img {
    max-height: 3em;
  }

  footer ul li {
    padding: 0.5em;
    border: 5px solid #DB404B;
  }

  footer ul li:hover {
    border: 5px solid #FF809B;
    padding: 1em;
  }

  .logowords {
    gap: 1rem;
  }

}

/* TABLET QUERY ENDS HERE */

@media only screen and (max-width: 375px) {

/* MOBILE QUERY BEGINS HERE */

header {
  padding-right: 10rem;
  padding-left: 10rem;
}

}
