*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #DB404B;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.125rem;
}

header img {
    max-width: 20%;
    max-height: 20%;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav ul li a {
  font-family: alfarn, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  color: #FFF;
  margin: auto;
  text-decoration: none;
  background-color: #FF809B;
  border: 3px solid #FF809B;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: all .2s ease-in-out;
}

nav ul li a:hover {
  background-color: #FFFF;
  border: 3px solid #FFFF;
  color: #FF809B;
}
